@import url('https://fonts.googleapis.com/css2?family=Chivo');
@import url('https://fonts.googleapis.com/css2?family=Assistant');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif');

* {
	/* DESIGN ELEMENTS */
	--header-bg: rgb(50,50,100);
	--nav-bg: rgb(145,145,195);
	--radius: 0.25rem;
	
	/* TEXT COLOURS */
	--name-col: rgb(175,175,210);
	--nav-col: var(--name-col);
	--section-col: var(--header-bg);
	
	/* FONT FACES */
	--ss-font: 'Assistant';
	--serif-font: 'Noto Serif';
	--name-font: 'Chivo';
	--body-font: var(--ss-font);
	
	/* FONT SIZES */
	--header-size: 1.5rem;
	--header-lineheight: 2rem;
	--font-size: 20pt;
	--small-font: 0.85rem;
	
	/* SPACING */
	--small-skip: 0.5rem;
	--med-skip: 1rem;
	--big-skip: 2rem;
	--header-height: calc(5px + var(--header-lineheight) + 2*var(--small-skip));
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: var(--font-size);
	line-height: 1.5;
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
}

label {
	cursor: pointer;
}

/* -- HEADER -- */
header {
	background-color: var(--header-bg);
	font-weight: 800;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	padding: var(--small-skip) var(--med-skip);
	border-bottom: solid 5px var(--nav-bg);
}

.header-container {
	display: flex;
	justify-content: space-between;
	font-size: var(--header-size);
	line-height: var(--header-lineheight);
}

#name {
	font-family: var(--name-font);
	color: var(--name-col);
	letter-spacing: 0.15rem;
	white-space: nowrap;
}

/* --- narrow-window hamburger nav */
#menu-open:checked ~ nav ul {
	max-height: 15rem;
	padding: 0.25rem 0;
	transition: all 0.5s;
}
nav {
	background-color: var(--nav-bg);
	position: absolute;
	width: 100%;
	top: var(--header-height);
	left: 0;
}
nav ul {
	list-style-type: none;
	max-height: 0;
	overflow: hidden;
	text-align: center;
}
nav ul li a {
	padding-bottom: 0.5rem;
	display: inline-block;
	color: var(--nav-col);
	font-size: var(--small-font);
	text-decoration: none;
}
#hamburger {
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-top: 0.25rem solid var(--nav-col);
	border-bottom: 0.25rem solid var(--nav-col);
}
#hamburger hr {
	border: 0.125rem solid var(--nav-col);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* --- wide-window full nav */
@media (min-width: 40rem) {
	header label {
		display: none;
	}
	nav {
		position: relative;
		top: 0;
		background-color: transparent;
	}
	nav ul {
		text-align: right;
		max-height: var(--header-lineheight);
	}
	nav ul li {
		display: inline;
		padding-left: var(--med-skip);
	}
}

/* -- LIGHT-DARK THEME -- */
#theme-toggle{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0.75rem;
	width: 1.5rem;
	height: 1.5rem;
	background-image: linear-gradient(to right, var(--header-bg), var(--header-bg) 50%, var(--nav-bg) 50%, var(--nav-bg));
	border-radius: 50%;
	border: 3px var(--nav-bg) solid;
}
#theme-toggle {
}
#dark-light:not(:checked) ~ main {
	--body-bg: rgb(25,20,35);
	--body-bg2: rgb(25,20,35,0.95);
	--body-col: rgb(175,175,210);
	--link-col: rgb(202, 149, 2);
	--accent-col: var(--body-col);
}
#dark-light:checked ~ main {
	--body-bg: rgb(255,225,210);
	--body-bg2: rgb(255,225,210, 0.75);
	--body-col: rgb(100,100,100);
	--link-col: rgb(115,115,225);
	--accent-col: rgb(150,80,75,0.35);
}

/* -- CONTENT -- */

main {
	padding-top: var(--header-height);
}

.content {
	background-color: var(--body-bg);
	color: var(--body-col);
	scroll-margin-top: var(--header-height);
	padding: var(--big-skip) calc(max(var(--med-skip), 50vw - 0.5*35rem));
}
.content:nth-of-type(even) {
	background-color: var(--body-bg2);
}
.content:last-of-type {
	min-height: calc(100vh - var(--header-height));
}

.content a {
	color: var(--link-col);
	transition: 0.5s filter;
}

.content a:hover {
	filter: brightness(125%);
}

/* --- photo */
#photo {
  width: 12rem;
  max-width: calc(100% - 2*var(--small-skip));
  float: left;
  margin: 0 2.5rem var(--med-skip) 0;
  border-radius: var(--radius);
  box-shadow: var(--small-skip) var(--small-skip) var(--accent-col);
}

/* --- headings */
.section {
  font: bold 1rem/1rem var(--serif-font);
  color: var(--section-col);
  border-radius: var(--radius);
  background-color: var(--accent-col);
  padding: 0.25rem 0 0.25rem var(--small-skip);
  margin: 0 0 var(--small-skip) 0;
  border-left: .1rem solid var(--section-col);
  display: flex;
  letter-spacing: 0.05rem;
}

/* --- text */
.clear {
  clear: both;
}
p {
  margin: 0 0 var(--big-skip) 0;
}
.content p:last-of-type {
	margin-bottom: 0;
}
ul, ol {
  margin: 0;
  padding: 0 0 0 1rem;
}
p ~ ul, p ~ ol, p ~ blockquote {
	margin-top: calc(0rem - var(--big-skip));
}
blockquote {
	quotes: "►""""►""";
}
blockquote::before {
	content: open-quote;
	margin-right: var(--small-skip);
}
.extra {
	font-size: 0.75rem;
}
