* {
	--padding: 8px;
	--ss-fonts: sans-serif;
	--serif-fonts: serif;
	--mono-fonts: monospace;

	/* COLOURS */
	--main-hue: 240;
	--bg: hsl(var(--main-hue), 25%, 10%);
	--bg2: hsl(var(--main-hue), 25%, 15%);
	--body: hsl(var(--main-hue), 50%, 85%);
	--link: hsl(var(--main-hue), 75%, 75%);
	--secondary: hsl(calc(var(--main-hue) + 180), 75%, 55%);
	--tertiary: hsl(calc(var(--main-hue) + 45), 75%, 55%);
	--accent: hsl(calc(var(--main-hue) + 90), 75%, 55%);
	--quaternary: hsl(var(--main-hue), 25%, 45%);
	
	/* LENGTHS */
	--tiny-skip: 0.25rem;
	--small-skip: 0.5rem;
	--med-skip: 1rem;
	--big-skip: 2rem;
	--width: 65ch;
	--line-height: 1.5rem;
}

html {
	color: var(--body);
}
body, p, h1, h2 {
	margin: 0;
	padding: 0;
}

a { 
	color: var(--link);
	transition: color 0.25s ease-in-out;
}

a:hover {
	color: var(--accent);
}

