html {
	max-width: 45rem;
	background-color: var(--bg);
	margin: 0 auto;
	padding: 0 8px;
	padding-top: var(--med-skip);
	padding-bottom: var(--big-skip);
}

body, p, h1, .right {
	margin: 0;
	padding: 0;
	font-family: var(--serif-fonts);
	line-height: 1.25;
}

h1, h2 {
	font-family: var(--ss-fonts);
}

h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.25em;
	margin-top: var(--med-skip);
}

#contact {
	font-family: var(--mono-fonts);
}

hr {
	border: none;
	border-top: 1px solid;
}

h1, #contact {
	text-align: center;
}

.date {
	float: right;
	text-align: right;
	color: var(--quaternary);
	width: auto;
}

.more {
	margin-left: var(--med-skip);
	clear: both;
}

