/* printing to PDF doesn't interpret variables: first set it for PDF, then use variables for web */
html {
	max-width: 45rem;
	background-color: var(--bg);
	margin: 0 auto;
	padding: 0 8px;
	padding-top: var(--med-skip);
	padding-bottom: var(--big-skip);
}

body, p, h1, .right {
	margin: 0;
	padding: 0;
	font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-family: var(--serif-fonts);
	line-height: 1.25;
}

h1, h2 {
	font-family: helvetica neue;
	font-family: var(--ss-fonts);
}

h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.25em;
	margin-top: 1rem;
	margin-top: var(--med-skip);
}

#contact {
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	font-family: var(--mono-fonts);
}

hr {
	border: none;
	border-top: 1px solid black;
	border-top: 1px solid var(--quaternary);
}

h1, #contact {
	text-align: center;
}

.date {
	float: right;
	text-align: right;
	color: var(--quaternary);
	width: auto;
}

.more {
	margin-left: 1rem;
	margin-left: var(--med-skip);
	clear: both;
}

