* {
	--bg: hsl(240, 50%, 10%);
	--body: hsl(240, 50%, 90%);
	--light: hsl(240, 75%, 80%);
	--link: hsl(330, 75%, 65%);
	
	--top: 1rem;
	--bottom: 3rem;
}

html {
	max-width: 45rem;
	margin: 0 auto;
	padding: 0 var(--horz);
	padding-top: var(--top);
	padding-bottom: var(--bottom);
	background-color: var(--bg);
	color: var(--body);
}

body, p, h1, h2, .right {
	margin: 0;
	padding: 0;
	font-family: Baskerville;
	font-family: var(--serif-fonts);
	line-height: 1.25;
}

h1, h2 {
	font-family: Helvetica Neue;
	font-family: var(--ss-fonts);
}

#contact {
	font-family: Menlo;
	font-family: var(--mono-fonts);
}

hr {
	border: none;
	border-top: 1px solid var(--light);
}

a, a:hover, a:visited, a:active {
	color: var(--link);
}

h1, #contact {
	text-align: center;
}

h2 {
	margin-top: 1em;
}

.right {
	float: right;
	text-align: right;
	color: var(--light);
	width: auto;
}

.more {
	margin-left: 1.5em;
	clear: both;
}

